* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1920px;
}

.header {
    justify-content: center;

}

.header__body {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 250px;
    background-image: url(./img/Снимок.PNG);
    z-index: 9000;
}


.header__text {
    position: relative;
    display: block;
    float:right;
    padding-right: 30%;
    padding-top: 70px;
    width: max-content;
    height: auto;
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
       text-shadow: 5px 5px 6px black, 0 0 1em #2da5e5;
}

.doptext {
    font-size: 20px;
    padding-left: 165px;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}

.buttonspan {
    display: block;
    position: relative;
    width: 90px;
    height: auto;
    left: 500px;
    top: -60px;
}

.button {
    background-color: #2b5264;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.button:hover {
    background: linear-gradient(to top, #2b5264, #ffffff);
    opacity: 80%;
}

.section1{
    position: relative;
    top: 250px;
    padding:1px;
   
    }

.container {
    max-width: 1140px;
    min-width: 768px;
    height: auto;
    margin: 0 auto;
}

.single-item {
    margin: 0 auto;
    width: 100%;
    height: max-content;
    top: 1px;
}

.slider__item {
    position: relative;
    min-width: 768px;
    min-height: 70px;
    padding: 0 40px;
       
}

.slider__item p {
    position: absolute;
    font-size: 50px;
    z-index: 5000;
    top: -50px;
    right: 10%;
   
}

.slick-prev {
   position: absolute;
   top: 50%;
   z-index: 10;
   left: 5%;
   padding-left: 10px;
   
}


.slick-next {
    position: absolute;
    top: 50%;
    
    left: 90%;
    margin-right: 10px;
 }

 .section2{
    position: relative;
    top: 250px;
    }

 .vert__title {
     font-size: 30px;
     text-align: center;
     margin: 0px 0px 0px 0px;
     padding: 15px 0;
}
/* .title {
} */
.vert__body {
    max-width: 990px;
    margin: 0 auto;
}
.vert__row {
    display: flex;
    margin: 0px -22.5px;
}
.vert__column {
    flex: 0 1 33.333%;
    padding: 0px 22.5px;
    display: flex;
}
.vert__item {
    background-color: #edf2f0;
    border-radius: 5px;
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-direction: column;
}
.vert__subtitle {
    font-size: 25px;
    font-weight: 900;
    color: #61b2fc;
    text-align: center;
    padding: 12px 0;
}
.vert__text {
    padding: 20px;
    font-size: 18px;
    flex: 1 1 auto;
}
.vert__btn {
    display: block;
    width: 260px;
    height: 40px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #000;
}

.section3 {
    position: relative;
    top: 250px;
    }